extends template
block CONTENT
	div.panel.panel-primary
		div.panel-heading Overtime
		div.panel-body
		table.table
			select.form-control
				option a
				option b
			input.form-control
			input.form-control(type='submit')