extends template
block CONTENT
	div.panel.panel-primary(ng-app="employee_app",ng-controller="employee_ctrl")
		div.panel-heading Overtime
		div.panel-body
		table.table
			select.form-control
				option(ng-repeat="emp in employees",values="{{emp.id}}") {{emp.name}}
			input.form-control
			input.form-control
			div
				button(ng-click="click()") click
	script.
		var app = angular.module('employee_app',[])
		app.controller('employee_ctrl',function($scope, $http) {
		    $scope.click = function() {
		    	$scope.employees=[]
		        var response = $http.get('/employees')
		        response.success(function(data, status, headers, config) {
		            $scope.employees=data
		        })
		        response.error(function(data, status, headers, config) {
		            alert("Error.")
		        })
		    }
		    $scope.click()
		})
				