doctype html
html
	head
		title My Page Title
		link(rel='stylesheet',href='/css/style.css')
		script(src='/angular/angular.js')
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')
	body
		block CONTENT